.underline {
  text-decoration: underline !important;
}

.text-aling-left {
  text-align: left !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.outline-solid {
  outline-style: solid !important;
}

.border-bottom {
  border-bottom: 1px !important;
  outline-style: solid !important;
  outline-width: thin !important;
}

