<div>
  <headermenu/>
  <!--drafts posts start-->
  <v-content>
    <v-container>
      <!--draft posts start-->
      <v-layout>
        <v-flex xs2 text-center pr-1 pt-2>
          <h1>
            {{selected_filter.text}}
          </h1>
        </v-flex>
        <v-flex xs2 pl-2 pr-2>
          <v-select
            :items="filter"
            v-model="selected_filter"
            item-value="shortCode"
            item-text="text"
            hide-details
            return-object
            @change="onchange()"
            id="langSelect"
          ></v-select>
        </v-flex>
        <v-flex xs3 pl-2 pr-2>
          <v-combobox
            v-model="authorName"
            :items="userList"
            hide-details
            placeholder='Search User'
            @keypress="userListchangedValue"
            @change="onauthorchange()"
            id="langSelect"
          ></v-combobox>
        </v-flex>
        <v-flex xs3 pl-2 pr-2>
          <v-text-field
            required
            v-model="txtsearch"
            placeholder='Type here to search'>
          </v-text-field>
        </v-flex>
        <v-flex xs1 pl-2 pr-2>
          <v-btn @click="searchBtn()">
            <v-icon>search</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs1 pl-2 pr-2>
          <v-btn>Reset</v-btn>
        </v-flex>
      </v-layout>
      <v-content>
        <v-container>
          <v-layout v-for="(item, i) in articleData" :key="i">
            <v-flex xs12 sm4 pr-4 pb-4>
              <v-card>
                <v-card-media
                  :src="baseImageUrl+item.wp_featuredImage"
                  height="180px"
                ></v-card-media>
              </v-card>
            </v-flex>
            <v-flex xs12 sm8 pr-4>
              <v-container>
                <h2 v-if="item.title">{{item.title}}</h2>
                <br>
                <router-link class="font-weight-bold subheading black--text text-decoration-none"
                             :to="'/author/'+item._author.username">
                  <v-avatar size="48">
                    <img v-if="item._author.profileImagePreference == 'gravatar'"
                         :src="item._author.gravatar" >
                    <img v-if="item._author.profileImagePreference != 'gravatar'"
                         :src="baseImageUrl+item._author.profileImagePreference" >
                  </v-avatar>
                  <span v-if="item._author.display_name">
                    {{item._author.display_name}}
                  </span>
                  <span v-if="!item._author.display_name">
                    {{item._author.username}}
                  </span>
                </router-link>
              </v-container>
            </v-flex>
          </v-layout>
          <br>
          <v-btn block text-xs-center v-on:click="articleLoadMore(3)">Load More Stories</v-btn>
        </v-container>
      </v-content>
      <!--draft posts start-->
    </v-container>
  </v-content>
  <!--draft posts ends-->
</div>
