h1 {
  font-family: Sentinel;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
}

.text-title {
  margin: 0 auto;
}

.text-title h2 {
  font-family: Sentinel;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
}

.elevated {
  margin-bottom: 58px;
  margin-left: auto;
  margin-right: auto;
}

p.elevated {
  font-family: Avenir Book;
  font-size: 36px;
  line-height: 48px;
}

.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 600px) {
  .text-title h2 {
    font-size: 36px;
    line-height: 42px;
  }
}

.text-primary {
  color: #3cccb7
}

.txtemail {
  background-color: #fff;
  font-size: 36px;
  line-height: 40px;
  padding: 28px 48px;
}

.btngetstarted .v-btn__content {
  background-color: #3cccb7;
  border: none;
  color: #fff;
  font-family: Avenir Black;
  font-style: normal;
  font-weight: 900;
  line-height: 1em;
  padding: .8em 2em;
  text-align: center;
}

.rounded-class {
  border-radius: 15px;
}

.backgroundcolor {
  background-color: #f4f4f4
}

.textdecoration {
  text-decoration: none
}

.maxwidth {
  max-width: 100%
}

.layoutcolor {
  background-color: dimgray
}

.underline {
  text-decoration: underline;
}

.text-aling-left {
  text-align: left;
}

.text-decoration-none {
  text-decoration: none !important;
}

.outline-solid {
  outline-style: solid;
}

.border-bottom {
  border-bottom: 1px;
  outline-style: solid;
  outline-width: thin;
}

.first-article {
  border-top: 7px solid #a79613;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  transition: all .3s ease;
}

.topSingleArticle-title {
  font-size: 1.5rem !important;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: .02em !important;
  font-family: Roboto, sans-serif !important;

}

.read-me {
  border: 5px solid rgba(167,150,19,.19) !important ;
  transition: all .3s ease;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding: 1rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: #111;
  min-width: 155px;
  min-height: 60px;
  vertical-align: middle;
  cursor: pointer;
}

.padding0 {
  padding: 0 !important;
}
