<div>
  <v-app light>
    <headermenu/>
    <!--starting block-->
    <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <v-container raised hover fill-height style="background-color: #f4f4f4">
              <v-layout align-center v-for="topSingleArticle in articleData.slice(0,1)" :key="topSingleArticle._id">
                <v-flex sm6>
                  <img style="max-width: 100%" :src="cloudinaryImageUrl+topSingleArticle.wp_featuredImage">
                </v-flex>
                <v-flex xs12 sm6>
                  <router-link :to="'/'+topSingleArticle.slug"
                               style="text-decoration: none"
                               class="title font-weight-medium black--text">{{topSingleArticle.title}}
                  </router-link>
                  <!--<v-flex xs12 sm6 text-xs-center>-->
                  <br>
                  <v-btn outline :to="'/'+topSingleArticle.slug">Read This</v-btn>
                  <br>
                  <br>
                  <v-chip>
                    <v-avatar>
                      <img :src="topSingleArticle._author.gravatar">
                    </v-avatar>
                    <router-link class="font-weight-bold subheading black--text"
                                 v-if="topSingleArticle._author.username"
                                 :to="'/author/'+topSingleArticle._author.username"
                                 style="text-decoration: none">{{topSingleArticle._author.username}}
                    </router-link>
                    <p v-if="!topSingleArticle._author.username"
                       class="font-weight-bold subheading black--text">
                      {{topSingleArticle._author.username}}
                    </p>
                  </v-chip>
                  <!--</v-flex>-->
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4 v-for="topThreeArticle in articleData.slice(1,4)" :key="topThreeArticle._id">
                <v-card hover>
                  <v-card-media
                    :src='cloudinaryImageUrl+topThreeArticle.wp_featuredImage'
                    height="300px">
                    <!--title of the image-->
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <router-link class="font-weight-bold headline white--text" :to="'/'+topThreeArticle.slug"
                                       style="text-decoration: none">{{topThreeArticle.title}}
                          </router-link>
                          <v-flex xs12 class="text-sm-left">
                            <v-chip>
                              <v-avatar>
                                <img :src="topThreeArticle._author.gravatar">
                              </v-avatar>
                              <router-link class="font-weight-bold subheading black--text"
                                           :to="'/author/'+topThreeArticle._author.username"
                                           style="text-decoration: none">{{topThreeArticle._author.username}}
                              </router-link>
                            </v-chip>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                    <!--end of the title-->
                  </v-card-media>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-layout>
      </v-container>
    </v-content>
    <!--starting block ends-->

    <hr class="font-weight-bold">
    <!--featured Video start-->
    <v-content>
      <v-container fluid grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <p class="text-sm-left display-1 font-weight-bold">Featured Video</p>
          </v-flex>
          <v-flex xs12 sm6 v-for="videoArticle in videoData" :key="videoArticle._id">
            <v-card flat class="text-sm-left fixed">
              <v-card-media
                :src="cloudinaryImageUrl+videoArticle.wp_featuredImage"
                height="300px">
              </v-card-media>
              <v-card-title primary-title>
                <div>
                  <router-link class="font-weight-bold subheading black--text" :to="'/'+videoArticle.slug"
                               style="text-decoration: none">{{videoArticle.title}}
                  </router-link>
                  <br>
                  <div>
                    <router-link class="body-2 black--text"
                                 :to="'/'+videoArticle.slug"
                                 style="text-decoration: none"
                                 v-html="videoArticle.body.substring(0,240)+'...'">
                    </router-link>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <!--featured Video end-->

    <!--news and features start-->
    <!--<v-content>-->
    <v-container fluid>
      <!--<v-layout>-->
      <v-flex xs12 text-xs-left>
        <h2 class="font-weight-bold display-1">News and Features</h2>
      </v-flex>
      <!--</v-layout>-->
    </v-container>
    <!--</v-content>-->
    <v-content pt-0>
      <v-container fluid>
        <v-layout row>
          <v-flex xs9 order-md3 order-xs3>
            <v-layout v-for="newsFeaturesArticles in articleData.slice(4,)" :key="newsFeaturesArticles._id">
              <v-flex xs12 sm4 pl-3 pr-3 pb-3>
                <v-card>
                  <v-card-media :src="cloudinaryImageUrl+newsFeaturesArticles.wp_featuredImage" height="200px"
                                style=""></v-card-media>
                </v-card>
              </v-flex>
              <v-flex xs12 sm8 pl-3 pr-3>
                <router-link class="font-weight-black title text-sm-center black--text"
                             :to="'/'+newsFeaturesArticles.slug"
                             style="text-decoration: none">{{newsFeaturesArticles.title}}
                </router-link>
                <p class="body-2 text-sm-left font-weight-thin">{{newsFeaturesArticles.subTitle}}</p>
                <router-link class="font-weight-bold subheading black--text"
                             v-if="newsFeaturesArticles._author.username"
                             :to="'/author/'+newsFeaturesArticles._author.username"
                             style="text-decoration: none">{{newsFeaturesArticles._author.username}}
                </router-link>
                <p v-if="!newsFeaturesArticles._author.username"
                   class="font-weight-bold subheading black--text">
                  {{newsFeaturesArticles._author.username}}
                </p>
              </v-flex>
            </v-layout>
            <v-btn block text-xs-center v-on:click="articleLoadMore(10)">Load More Stories</v-btn>
          </v-flex>
          <v-flex xs3 order-md3 order-xs3 color="red darken-4" text-xs-center>
            <v-card dark tile flat color="error">
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card-text><p class="text-center subheading">Get the Blavity Daily newsletter with the best community
                  finds and news.</p>
                  <hr>
                  <p class="text-center font-weight-bold title">Delivered To You</p>
                  <v-text-field
                    required
                    label="Name"
                    v-model="name"
                    value="name"
                  ></v-text-field>
                  <v-text-field
                    required
                    :rules="emailRules"
                    label="Email"
                    v-model="email"
                    value="email"
                  ></v-text-field>
                </v-card-text>
                <v-btn outline class="text-center" :disabled="!valid" @click="newsletter()">Sign Me Up</v-btn>
              </v-form>
            </v-card>
            <br><br><br>
            <v-card dark tile flat>
              <v-card-text>
                <p class="text-center subheading"> TRENDING RIGHT NOW</p>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <!--news and features end-->

    <!--community Start-->
    <v-content fluid>
      <!--<v-container fluid grid-list-md text-xs-center>-->
      <v-layout row wrap style="background-color: dimgray">
        <v-flex xs12 class="text-title pt-4 pb-0 ">
          <h3 class="font-weight-bold text-center white--text headline">Top Community Submitted Articles This Week</h3>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4 v-for="communityArticles in communityData" :key="communityArticles._id">
                <v-card hover>
                  <v-card-media
                    :src='cloudinaryImageUrl+communityArticles.wp_featuredImage'
                    height="300px">
                    <!--title of the image-->
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <router-link class="font-weight-medium headline white--text" :to="'/'+communityArticles.slug"
                                       style="text-decoration: none">{{communityArticles.title}}
                          </router-link>
                          <v-flex xs12 class="text-sm-left">
                            <v-chip>
                              <v-avatar>
                                <img :src="communityArticles._author.gravatar">
                              </v-avatar>
                              <router-link class="font-weight-bold subheading black--text"
                                           v-if="communityArticles._author.username"
                                           :to="'/author/'+communityArticles._author.username"
                                           style="text-decoration: none">{{communityArticles._author.username}}
                              </router-link>
                              <p v-if="!communityArticles._author.username"
                                 class="font-weight-bold subheading black--text">
                                {{communityArticles._author.username}}
                              </p>
                            </v-chip>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                    <!--end of the title-->
                  </v-card-media>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <!--</v-container>-->
    </v-content>
    <!--community Ends-->

  </v-app>
</div>
