<div>
  <v-app light>
    <headermenu/>
    <!--starting block-->
    <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <v-container raised hover fill-height class="backgroundcolor">
              <v-layout align-center v-for="topSingleArticle in articleData.slice(0,1)" :key="topSingleArticle._id">
                <v-flex sm6>
                  <img class="maxwidth" :src="cloudinaryImageUrl+topSingleArticle.wp_featuredImage">
                </v-flex>
                <v-flex xs12 sm6>
                  <router-link :to="'/'+topSingleArticle.slug"
                               class="title font-weight-medium black--text textdecoration">{{topSingleArticle.title}}
                  </router-link>
                  <!--<v-flex xs12 sm6 text-xs-center>-->
                  <br>
                  <v-btn outline :to="'/'+topSingleArticle.slug">Read This</v-btn>
                  <br>
                  <br>
                  <v-chip>
                    <v-avatar>
                      <img :src="topSingleArticle._author.gravatar">
                    </v-avatar>
                    <router-link class="font-weight-bold subheading black--text textdecoration"
                                 v-if="topSingleArticle._author.username"
                                 :to="'/author/'+topSingleArticle._author.username"
                    >{{topSingleArticle._author.username}}
                    </router-link>
                    <p class="font-weight-bold subheading black--text textdecoration"
                       v-if="!topSingleArticle._author.username"
                    >{{topSingleArticle._author.display_name}}></p>
                  </v-chip>
                  <!--</v-flex>-->
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4 v-for="topThreeArticle in articleData.slice(1,4)" :key="topThreeArticle._id">
                <v-card hover>
                  <v-card-media
                    :src='cloudinaryImageUrl+topThreeArticle.wp_featuredImage'
                    height="300px">
                    <!--title of the image-->
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <router-link class="font-weight-bold headline white--text textdecoration"
                                       :to="'/'+topThreeArticle.slug"
                          >{{topThreeArticle.title}}
                          </router-link>
                          <v-flex xs12 class="text-sm-left">
                            <v-chip>
                              <v-avatar>
                                <img :src="topThreeArticle._author.gravatar">
                              </v-avatar>
                              <router-link class="font-weight-bold subheading black--text textdecoration"
                                           :to="'/author/'+topThreeArticle._author.username"
                                           v-if="topThreeArticle._author.username"
                              >{{topThreeArticle._author.username}}
                              </router-link>
                              <p v-if="!topThreeArticle._author.username"
                                 class="font-weight-bold subheading black--text textdecoration"
                              >{{topThreeArticle._author.display_name}}</p>
                            </v-chip>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                    <!--end of the title-->
                  </v-card-media>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-layout>
      </v-container>
    </v-content>
    <!--starting block ends-->
    <hr class="font-weight-bold">
    <!--featured Video start-->
    <v-content>
      <v-container fluid grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12>
            <p class="text-sm-left display-1 font-weight-bold">Featured Video</p>
          </v-flex>
          <v-flex xs12 sm6 v-for="videoArticle in videoData" :key="videoArticle._id">
            <v-card flat class="text-sm-left fixed">
              <v-card-media
                :src="cloudinaryImageUrl+videoArticle.wp_featuredImage"
                height="300px">
              </v-card-media>

              <v-card-title primary-title>
                <div>
                  <router-link class="font-weight-bold subheading black--text textdecoration"
                               :to="'/'+videoArticle.slug"
                  >{{videoArticle.title}}
                  </router-link>
                  <br>
                  <div>
                    <router-link class="body-2 black--text textdecoration"
                                 :to="'/'+videoArticle.slug"
                                 v-html="videoArticle.body.substring(0,240)+'...'">
                    </router-link>
                  </div>
                </div>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <!--featured Video end-->
    <!--news and features start-->
    <!--<v-content>-->
    <v-container fluid>
      <!--<v-layout>-->
      <v-flex xs12 text-xs-left>
        <h2 class="font-weight-bold display-1">News and Features</h2>
      </v-flex>
      <!--</v-layout>-->
    </v-container>
    <!--</v-content>-->
    <v-content pt-0>
      <v-container fluid>
        <v-layout row>
          <v-flex xs9 order-md3 order-xs3>
            <v-layout v-for="newsFeaturesArticles in articleData.slice(4,)" :key="newsFeaturesArticles._id">
              <v-flex xs12 sm4 pl-3 pr-3 pb-3>
                <v-card>
                  <v-card-media :src="cloudinaryImageUrl+newsFeaturesArticles.wp_featuredImage" height="200px"
                  ></v-card-media>
                </v-card>
              </v-flex>
              <v-flex xs12 sm8 pl-3 pr-3>
                <router-link class="font-weight-black title text-sm-center black--text textdecoration"
                             :to="'/'+newsFeaturesArticles.slug"
                >{{newsFeaturesArticles.title}}
                </router-link>
                <p class="body-2 text-sm-left font-weight-thin">{{newsFeaturesArticles.subTitle}}</p>
                <router-link class="font-weight-black title black--text textdecoration"
                             :to="'/author/'+newsFeaturesArticles._author.username"
                >{{newsFeaturesArticles._author.username}}
                </router-link>
              </v-flex>
            </v-layout>
            <v-btn block text-xs-center v-on:click="articleLoadMore(10)">Load More Stories</v-btn>
          </v-flex>
          <v-flex xs3 order-md3 order-xs3 color="red darken-4" text-xs-center>
            <dailynewsletter/>
            <trendingpost/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <!--news and features end-->
    <!--community Start-->
    <v-content fluid>
      <!--<v-container fluid grid-list-md text-xs-center>-->
      <v-layout row wrap class="layoutcolor">
        <v-flex xs12 class="text-title pt-4 pb-0 ">
          <h3 class="font-weight-bold text-center white--text headline">Top Community Submitted Articles This Week</h3>
        </v-flex>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4 v-for="communityArticles in communityData" :key="communityArticles._id">
                <v-card hover>
                  <v-card-media
                    :src='cloudinaryImageUrl+communityArticles.wp_featuredImage'
                    height="300px">
                    <!--title of the image-->
                    <v-container fill-height fluid>
                      <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                          <router-link class="font-weight-medium headline white--text textdecoration"
                                       :to="'/'+communityArticles.slug"
                          >{{communityArticles.title}}
                          </router-link>
                          <v-flex xs12 class="text-sm-left">
                            <v-chip>
                              <v-avatar>
                                <img :src="communityArticles._author.gravatar">
                              </v-avatar>
                              <router-link class="font-weight-black title black--text textdecoration"
                                           :to="'/author/'+communityArticles._author.username"
                              >{{communityArticles._author.username}}
                              </router-link>
                            </v-chip>
                          </v-flex>
                        </v-flex>
                      </v-layout>
                    </v-container>
                    <!--end of the title-->
                  </v-card-media>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
      <!--</v-container>-->
    </v-content>
    <!--community Ends-->
  </v-app>
</div>
