<div>
  <headermenu />
  <!--drafts posts start-->
  <v-content>
    <v-container>
      <!--draft posts start-->
      <v-layout>
        <v-flex xs12>
          <p class="display-1 font-weight-light">draft posts</p>
        </v-flex>
        <v-spacer></v-spacer>
        <v-btn color="lime darken-4" flat>New Post</v-btn>
      </v-layout>
      <hr>
      <v-content>
        <v-container>
          <v-layout v-for="item in draftData" key="item._id">
            <v-flex xs12 sm4>
              <v-card>
                <v-card-media
                  :src="baseImageUrl+item.wp_featuredImage"
                  height="180px"
                ></v-card-media>
              </v-card>
            </v-flex>
            <v-flex xs12 sm8>
              <v-container>
                <p>title</p>
                <v-avatar size="48">
                  <img :src="image" :alt="username">
                  <router-link class="font-weight-bold subheading black--text" :to="'/author/'+username"
                               style="text-decoration: none">{{displayname}}
                  </router-link>
                </v-avatar>
                <p>title</p>
              </v-container>
            </v-flex>
          </v-layout>
          <br>
        </v-container>
      </v-content>
      <!--draft posts start-->
      <hr>
      <!--submitted for review start-->
      <v-container>
        <v-layout>
          <v-flex xs12>
            <p class="display-1 font-weight-light">submitted for review</p>
          </v-flex>
          <v-spacer></v-spacer>
        </v-layout>
      </v-container>
      <hr>
      <v-content>
        <v-container>
          <v-layout v-for="item in submittedData" key="item._id">
            <v-flex xs12 sm4>
              <v-card>
                <v-card-media
                  :src="baseImageUrl+item.wp_featuredImage"
                  height="180px"
                ></v-card-media>
              </v-card>
            </v-flex>
            <v-flex xs12 sm8>
              <v-container>
                <p>title</p>
                <v-avatar size="48">
                  <img :src="image" :alt="username">
                  <router-link class="font-weight-bold subheading black--text" :to="'/author/'+username"
                               style="text-decoration: none">{{displayname}}
                  </router-link>
                </v-avatar>
                <p>title</p>
              </v-container>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
      <!--submitted for review end-->
      <hr>
      <!--Published posts start-->
      <v-container>
        <v-layout>
          <v-flex xs12>
            <p class="display-1 font-weight-light">Published posts</p>
          </v-flex>
          <v-spacer></v-spacer>
        </v-layout>
      </v-container>
      <hr>
      <v-content>
        <v-container>
          <v-layout v-for="item in publishedData" key="item._id">
            <v-flex xs12 sm4>
              <v-card>
                <v-card-media
                  :src="baseImageUrl+item.wp_featuredImage"
                  height="180px"
                ></v-card-media>
              </v-card>
            </v-flex>
            <v-flex xs12 sm8>
              <v-container>
                <p>title</p>
                <v-avatar size="48">
                  <img :src="image" :alt="username">
                  <router-link class="font-weight-bold subheading black--text" :to="'/author/'+username"
                               style="text-decoration: none">{{displayname}}
                  </router-link>
                </v-avatar>
                <p>title</p>
              </v-container>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
      <!--Published posts start-->
      <hr>
      <!--Scheduled posts start-->
      <v-container>
        <v-layout>
          <v-flex xs12>
            <p class="display-1 font-weight-light">Scheduled posts</p>
          </v-flex>
          <v-spacer></v-spacer>
        </v-layout>
      </v-container>
      <hr>
      <v-content>
        <v-container>
          <v-layout v-for="item in scheduledData" key="item._id">
            <v-flex xs12 sm4>
              <v-card>
                <v-card-media
                  :src="baseImageUrl+item.wp_featuredImage"
                  height="180px"
                ></v-card-media>
              </v-card>
            </v-flex>
            <v-flex xs12 sm8>
              <v-container>
                <p>title</p>
                <v-avatar size="48">
                  <img :src="image" :alt="username">
                  <router-link class="font-weight-bold subheading black--text" :to="'/author/'+username"
                               style="text-decoration: none">{{displayname}}
                  </router-link>
                </v-avatar>
                <p>title</p>
              </v-container>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
      <!--<v-btn @click="postLoadMore(3)">Load More</v-btn>-->
      <!--Scheduled posts start-->
    </v-container>
  </v-content>
  <!--draft posts ends-->

</div>
