<div>
  <v-app>
    <headermenu/>
    <v-content>
      <v-container grid-list-md>
        <v-layout row wrap>
          <v-flex xs12 sm9 class="text-sm-left">
            Posted Under:
            <span v-for="(cat, index) in singlearticle.categories">
              <router-link class="font-weight-bold headline" :to="'/categories/'+cat.slug">
                {{cat.name}}
              </router-link>
              <span v-if="index+1 !== singlearticle.categories.length">, </span>
            </span>
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left title">
            <h1>{{singlearticle.title}}</h1>
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left ">
            <h3>{{singlearticle.subTitle}}</h3>
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left">
            <v-chip>
              <v-avatar>
                <img
                  :src="cloudinaryImageUrl+singlearticle.wp_featuredImage"
                  height="30%">
              </v-avatar>
              <router-link class="font-weight-bold subheading black--text"
                           v-if="singlearticle._author.username"
                           :to="'/author/'+singlearticle._author.username"
                           style="text-decoration: none">{{singlearticle._author.username}}
              </router-link>
              <p v-if="!singlearticle._author.username"
                 class="font-weight-bold subheading black--text"
                 style="text-decoration: none">{{singlearticle._author.display_name}}></p>
            </v-chip>
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left">
            <img
              :src="cloudinaryImageUrl+singlearticle.wp_featuredImage"
              height="100%" width="70%">
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left">
            <p class="headline"><span v-html='singlearticle.body'></span></p>
          </v-flex>
          <v-flex xs12 sm9 class="text-sm-left" v-if="singlearticle.tags.length">
            <hr>
            <h1>Tags</h1>
            <span v-for="(tag, index) in singlearticle.tags">
              <router-link class="font-weight-bold headline" :to="'/tag/'+tag.slug">
                {{tag.name}}
              </router-link>
              <span v-if="index+1 !== singlearticle.tags.length">, </span>
            </span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
