<div>
  <v-app>
    <headermenu/>
    <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12 class="text-sm-left">
            Posted Under: <span v-for="(cat, index) in singlearticle.categories">{{cat.name}} <span
            v-if="index+1 !== singlearticle.categories.length">, </span> </span>
          </v-flex>
          <v-flex xs12 sm6 class="text-sm-left">
            <h1>{{singlearticle.title}}</h1>
          </v-flex>
          <v-flex xs12 class="text-sm-left title">
            <h4>{{singlearticle.subTitle}}</h4>
          </v-flex>
          <v-flex xs12 class="text-sm-left title">
            <v-chip>
              <v-avatar>
                <img
                  :src="cloudinaryImageUrl+singlearticle.wp_featuredImage"
                  height="30%">
              </v-avatar>
            </v-chip>
          </v-flex>
          <v-flex xs12 class="text-sm-left">
            <img
              :src="cloudinaryImageUrl+singlearticle.wp_featuredImage"
              height="100%" width="70%">
          </v-flex>
          <v-flex xs12 class="text-sm-left">
            <p class="headline"><span v-html='singlearticle.body'></span></p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
